@page
@model WebApplication1.Pages.Reviews.CreateModel
@{
}
@{
    ViewData["Title"] = "Create Review";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <partial name="_EditForm" for="Review" />
    <button type="submit">Create Contact</button>
</form>
<th><a asp-page="./Edit" asp-route-id="@Model.Count.Select(review => review.ID)">Edit your review</a></th>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}