@page
@model WebApplication1.Pages.Actors.CollaborationsModel
@{
}
<form method="post">
    <table>
        <thead>
            <tr>
                <th>Show collaborations between:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select asp-for="Actor.ID" asp-items="Model.FirstActorList">
                    </select>
                </td>
            <tr>
                <td>
                    <select asp-for="Actor.ID" asp-items="Model.SecondActorList">
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="submit">Search</button>
</form>

