@page
@model WebApplication1.Pages.Actors.IndexModel
@{
}
<h1 class="center">Actors</h1>
<form method="get">
    <table>
        <tbody>
            <tr>
                <th><label for="SearchTerm">Search for</label></th>
                <td>
                    <select asp-for="SortColumn" asp-items="Model.SortColumnList">
                        <option></option>
                    </select>
                </td>
                <td><input type="search" name="SearchTerm" id="SearchTerm" value="@Model.SearchTerm"></td>
                <td><button type="submit">Search</button></td>
            </tr>
            <tr>
        </tbody>
    </table>
</form>

<table>
    <tbody>
        @foreach (var actor in Model.Actors)
        {
            <tr>
                <td><a asp-page="./Details" asp-route-id="@actor.ID">@actor.FirstName @actor.LastName</a></td>
            </tr>
        }
    </tbody>
</table>
