@page
@model WebApplication1.Pages.Actors.IndexModel
@{
}
<form method="get">
    <table>
        <tbody>
            <tr>
                <th><label for="SearchTerm">Search for actors</label></th>
                <td><input type="search" name="SearchTerm" id="SearchTerm" value="@Model.SearchTerm"></td>
            </tr>
        </tbody>
    </table>
    <button type="submit">Search</button>
</form>

<table>
    <tbody>
        @foreach (var actor in Model.Actors)
        {
            <tr>
                <td><a asp-page="./Details" asp-route-id="@actor.ID">@actor.FirstName</a> |</td>
            </tr>
        }
    </tbody>
</table>
