@page
@model WebApplication1.Pages.Movies.IndexModel
@{
    ViewData["Title"] = "Movies";
}
<h1>Movies</h1>
<form method="post" asp-page="./CreateRandom">
    <button type="submit">Create Random Movies</button>
</form>

<form method="get">
    <table>
        <tbody>
            <tr>
                <th><label for="SearchTerm">Search for movies</label></th>
                <td><input type="search" name="SearchTerm" id="SearchTerm" value="@Model.SearchTerm"></td>
            </tr>
        </tbody>
    </table>
    <button type="submit">Search</button>
</form>
<table>
    <tbody>
        @foreach (var movies in Model.Movies)
        {
        <tr>
            <td><img class="img" src="~/Posters/@movies.PosterPath" /></td>
            <td><a asp-page="./Details" asp-route-id="@movies.ID">@movies.Title</a> |</td>
            <th><a asp-page="/Reviews/Index" asp-route-movieID="@movies.ID">Reviews</a></th>
        </tr>
        }
    </tbody>
</table>